# Sample test.exs configuration file. See README for more info.

use Mix.Config

config :ex_aws,
  debug_requests: false, # set to true to monitor the DDB requests
  access_key_id: "abcd",
  secret_access_key: "1234",
  region: "us-east-1"

config :ex_aws, :dynamodb,
  scheme: "http://",
  host: "localhost",
  port: CHOOSE_YOUR_TEST_PORT,
  region: "us-east-1"
